@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
        <section class="main__info info">
            <div class="container info__container">
                <div class="info__company">
                    <h1 class="info__company-name"> OOO "СтройРесурс"</h1>
                    <span class="info__company-id">id - 12343</span>
                </div>
                <div class="info__btns">
                    <a href="" class="info__btn btn">Мои заказы</a>
                    <a href="" class="info__btn btn info__btn--red">Выйти</a>
                </div>
            </div>
        </section>
        <section class="main_profile profile">
            <div class="container profile__container">
                <form class="form form__card" action="" method="post">
                <h2 class="profile__title title">Данные организации</h2>
                
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="companyName">Название компании</label>
                        <input class=" form__input" id="companyName" name="companyName" type="text" placeholder="Введите название компании"  >
                    </div>
                    <div class=" form__field">
                        <label class=" form__label" for="contactPerson">Представительное лицо</label>
                        <input class=" form__input" id="contactPerson" name="contactPerson" type="text" maxlength="200"
                            pattern="[А-Яа-яЁё\s\-]{2,}" title="Некорректный формат" placeholder="Введите ФИО"  >
                    </div>
                </div>
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="email">Email</label>
                        <input class=" form__input" id="email" name="email" type="email"
                             placeholder="example@mail.ru"  >
                    </div>
                    <div class=" form__field">
                        <label class=" form__label" for="phone">Телефон</label>
                        <input class=" form__input" id="phone" name="phone" type="tel" pattern="\+7[0-9]{10}"
                            title="Формат: +7XXXXXXXXXX" placeholder="+7XXXXXXXXXX"  >
                    </div>
                </div>
    
                <div class=" form__row">
                  
                    <div class=" form__field form__field">
                        <label class=" form__label" for="kpp">Кпп</label>
                        <input class=" form__input" id="kpp" name="kpp" type="text" maxlength="9" pattern="\d{9}"
                        title="КПП должен содержать 9 цифр" placeholder="Введите 9 цифр"  >
                    </div>
                    <div class=" form__field">
                        <label class=" form__label" for="inn">ИНН</label>
                        <input class=" form__input" id="inn" name="inn" type="text" maxlength="10" pattern="\d{10}"
                        title="ИНН должен содержать 10 цифр" placeholder="Введите 10 цифр"  >
                    </div>
                </div>
                
                <div class=" form__row">
                    <div class="form__field form__field--fullwidth">
                        <label class=" form__label" for="address">Адрес</label>
                        <input class=" form__input" id="address" name="address" type="text" placeholder="Введите адрес"  >
                    </div>
                </div>
    
                <button class=" form__card-btn btn" type="submit">Сохранить данные</button>
            </form>
        </div>
        </section>
        <section class="security">
            <div class="container security__container">
                <form class="form form__card" action="" method="post">
                <h2 class="security__title title">Безопасность</h2>
                
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="password">Пароль</label>
                        <input class=" form__input" id="password" name="password" type="password" placeholder="Введите пароль"  >
                    </div>
                   <div class=" form__field">
                        <label class=" form__label" for="newPassword">Новый пароль</label>
                        <input class=" form__input" id="newPassword" name="newPassword" type="password" placeholder="Введите новый пароль"  >
                    </div>
                </div>
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="confimPassword">Подтверждение</label>
                        <input class=" form__input" id="confimPassword" name="confimPassword" type="password" placeholder="Подтверждение"  >
                    </div>
                </div>
                <button class=" form__card-btn btn" type="submit">Сохранить данные</button>
                </form>
                </div>
        </section>
