@model ShainingOpt.Models.Size

@{
    ViewData["Title"] = "Удаление";
    Layout = "_AdminLayout";
}

<h1>Удаление</h1>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SizeId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
