@model ShainingOpt.Models.Color

@{
    ViewData["Title"] = "Детали";
    Layout = "_AdminLayout";
}

<h1>Детали</h1>

<div>
    <h4>Цвет</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>


