@model ShainingOpt.Models.ProductVariant

@{
      Layout = "_AdminLayout";
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>Вариант товара</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" id="editProductForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductVariantId" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeId" class="control-label"></label>
                <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinOrderQuantity" class="control-label"></label>
                <input asp-for="MinOrderQuantity" class="form-control" />
                <span asp-validation-for="MinOrderQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <div class="form-img" style="width:400px; height:400px; overflow:hidden; background:grey;border-radius:20px;">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" alt="Изображение товара" style="width: 100%; height: auto; border-radius: 8px;" />
                    }
                    else
                    {
                        <span class="text-muted">Изображение отсутствует</span>
                    }
                </div>

                <input type="file" id="fileInput" accept="image/*" class="form-control" />
                <input type="hidden" asp-for="ImageUrl" id="hiddenImageUrl" />
                <span asp-validation-for="ImageUrl" id="imgError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/edit-product.js" asp-append-version="true"></script>
}
