
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShainingOpt</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/popup.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    @* <link rel="stylesheet" href="~/ShainingOpt.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header class="header">
        <div class="header__container container">

            <a asp-action="Index" asp-controller="Home" class="header__logo logo">ShiningOpt</a>

            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__item">
                        <a asp-action="Index" asp-controller="Home" class="header__link">Главная</a>
                    </li>
                    <li class="header__item">
                        <a asp-action="Catalog" asp-controller="Catalog" class="header__link">Каталог</a>
                    </li>
                </ul>
            </nav>


            <form class="header__search" asp-action="Search" asp-controller="Catalog">
                <input type="text" name="text" class="header__search-input" placeholder="Поиск товаров...">
                <button type="submit" class="header__search-icon "><img src="~/img/header/search.svg"></button>
            </form>

            <div class="header__actions">
                <a asp-action="Cart" asp-controller="Cart" class="header__action-btn">
                    <img src="~/img/header/basket.svg" alt="Корзина">
                </a>
                  

                @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Profile" asp-controller="Account" class="header__action-btn">
                    <img src="~/img/header/login.svg" alt="Профиль">
                </a>
                        
                    }
                    else
                    {
                <a class="header__action-btn  header__login-btn">
                    <img src="~/img/header/login.svg" alt="Профиль">
                </a>
                 <div class="popup">
                <div class="popup__container">
                    <div class="popup__close">X</div>
                    <h1 class="popup__title">Вход</h1>
                
    
        <div class="error">
            
        </div>
    
                    <form id="loginForm" asp-action="Login" asp-controller="Account" class="popup__form form">
                        <div class=" form__field popup__field">
                            <label class=" form__label" for="email">Email</label>
                            <input class=" form__input" id="email" name="Email" type="email">
                        </div>
                        <div class=" form__field popup__field">
                            <label class=" form__label" for="password">Пароль</label>
                            <input class=" form__input" id="password" name="Password" type="password" placeholder="Введите пароль">
                        </div>
                        <a asp-action="ResetPassword" asp-controller="Account" class="form__foggot-password">Забыли пароль?</a>
                        <div class="form__btns">
                            <button class="form__btn btn" type="submit">Войти</button>
                            <a asp-action="Register" asp-controller="Account" class="form__btn btn btn--white" >Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
            </div>
                    }
            </div>

        </div>
    </header>
    <main class="main">
       @RenderBody()
    </main>
           
    <footer class="footer">
        <div class="footer__container container">
            <a asp-action="Index" asp-controller="Home" class="footer__logo logo">ShiningOpt</a>
            <address class="footer__contacts">
                <a href="tel:+74999998283" class="footer__link">+7 (499) 999-82-83</a>
                <a href="mailto:bulk@shiningopt.com" class="footer__link">bulk@shiningopt.com</a>
            </address>
                    <div class="footer__legal">

                <span class="footer__copyright">© 2026 ShiningOpt</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
