.popup {
    position: fixed;
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.popup--active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__container {
    background-color: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 12px;
    max-width: 450px;
    width: 100%;
    position: relative; /* Чтобы позиционировать крестик */
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.popup__close {
    text-align: right;
    cursor: pointer;
}
.popup__title {
    font-size: 48px;
}
.popup__form {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__field {
}

.popup__field{
    width: 100%;

}

.form__foggot-password {
    text-align: right;
    color: #7B0404;
}

